body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  font: normal 100%/1.4 sans-serif;
  background: #dcdcdc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin:0;
  padding:0;

  min-height: 100vh;
}

.picCon{
  width:25%;
    float:left;
    margin-top:5px;
    
}

.profilePic{
  background: #188110;

  height:50px;
  width:50px;

  margin-top:10px;
  border-radius:30px;

}

.nameCon{
  width:75%;
  height:80px;
  font-size:20px;
  color: #188110;
  font-weight:bold;
  border-top:5px;
  float:left;
  margin-top:24px;

}

.menuCon{
  width:100%;
  height:100%;
  border-bottom:1px solid #d6d6d6;
  border-top:1px solid #d6d6d6;
}
.option{
  height:50px;
  border:1px solid #d6d6d6;
}

.accountNameCon{
  width:100%;
  height:80px;
  background: #f4f4f4;
}

.logout{
  color:#188110;
  height:60px;
  border:1px solid #bdbdbd;
  font-size:18px;
  text-align: left;
  padding-left:20px;
  

}
a{
  color:#188110;
}